<div class="w-full container py-10">
  <h1
    class="
      mb-4
      text-4xl
      font-extrabold
      text-dark-500
      dark:text-white
      md:text-5xl
      lg:text-4xl
      border-b border-b-sky-800
    "
  >
    <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Templates</span>
    Botzy
  </h1>

  <!-- (onRowUpdated)="onRowUpdatingEvaluacion($event)"
  (onRowInserted)="onRowUpdatingEvaluacion($event)"
  (onRowRemoved)="onRowRemovedEvaluacion($event)"  -->

  <div class="mt-10">
    <dx-data-grid
      [dataSource]="templates"
      [wordWrapEnabled]="true"
      [showBorders]="true"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <!-- editing options -->
      <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
      </dxo-editing>
      <!-- editing options end -->

      <!-- opciones -->
      <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <dxo-paging [pageSize]="5"></dxo-paging>
      <dxo-pager [showPageSizeSelector]="true" [allowedPageSizes]="[5, 10, 15]" [showInfo]="true">
      </dxo-pager>
      <!-- opciones end -->

      <!-- columns data -->
      <dxi-column dataField="pageId" [width]="100" caption="Page">
        <dxi-validation-rule type="required" message="Campo obligatorio"> </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="name" caption="Nombre template">
        <dxi-validation-rule type="required" message="Campo obligatorio"> </dxi-validation-rule>
      </dxi-column>
      <dxi-column dataField="description" caption="Descripción">
        <dxo-form-item
          [colSpan]="2"
          editorType="dxTextArea"
          [editorOptions]="{ autoResizeEnabled: true, maxHeight: 500, minHeight: 200 }"
        >
        </dxo-form-item>
        <dxi-validation-rule type="required" message="Campo obligatorio"> </dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="category" caption="Categoría">
        <dxo-lookup [dataSource]="categories" valueExpr="category" displayExpr="category"></dxo-lookup>
        <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="language" caption="Lenguaje" cellTemplate="cellTemplate">
        <dxo-lookup [dataSource]="languages" valueExpr="language" displayExpr="name"></dxo-lookup>
        <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
      </dxi-column>

      <!-- <dxi-column dataField="category" caption="Categoría"></dxi-column> -->
      <!-- <dxi-column dataField="language" caption="Lenguaje"></dxi-column> -->
      <!-- columns data end -->

      <!-- columns config -->
      <dxi-column type="buttons">
        <dxi-button text="Parametros" icon="codeblock" [onClick]="onClickParams"></dxi-button>
        <dxi-button text="Editar" name="edit"></dxi-button>
        <dxi-button text="Eliminar" name="delete"></dxi-button>
        <dxi-button text="Ver descripción" icon="info" [onClick]="onClickInfoTemplate"></dxi-button>
      </dxi-column>
      <!-- columns config end -->
      <!-- templates -->
      <div *dxTemplate="let data of 'cellTemplate'">
        <div>
          <span class="block w-2/4 text-center p-2 rounded-full bg-success-500">ES</span>
        </div>
      </div>
    </dx-data-grid>
  </div>
</div>

<dx-popup
  class="popup"
  [closeOnOutsideClick]="true"
  [maxWidth]="800"
  [maxHeight]="550"
  [showTitle]="true"
  [dragEnabled]="false"
  [(visible)]="visibleModalParams"
  title="Parametros del template"
>
  <dx-scroll-view>
    <dx-data-grid [dataSource]="templateParams" [wordWrapEnabled]="true" [showBorders]="true">
      <!-- editing options -->
      <dxo-editing mode="form" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
      </dxo-editing>
      <!-- editing options end -->

      <!-- opciones -->
      <dxo-search-panel [visible]="true" [width]="300"></dxo-search-panel>
      <dxo-header-filter [visible]="true"></dxo-header-filter>
      <dxo-sorting mode="multiple"></dxo-sorting>
      <!-- opciones end -->

      <!-- columns data -->

      <dxi-column dataField="templateParameterTypeId" caption="Tipo">
        <dxo-lookup
          [dataSource]="templateParamType"
          valueExpr="templateParameterTypeId"
          displayExpr="code"
        ></dxo-lookup>
        <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="templateParameterSectionId" caption="Sección">
        <dxo-lookup
          [dataSource]="templateParamSection"
          valueExpr="templateParameterSectionId"
          displayExpr="code"
        ></dxo-lookup>
        <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
      </dxi-column>

      <dxi-column dataField="position" caption="Posición">
        <dxo-lookup
          [dataSource]="templateParamPosition"
          valueExpr="position"
          displayExpr="position"
        ></dxo-lookup>
        <dxi-validation-rule type="required" message="Campo requerido"></dxi-validation-rule>
      </dxi-column>

      <!-- columns data end -->
    </dx-data-grid>
  </dx-scroll-view>
</dx-popup>

<dx-popup
  class="popup"
  [closeOnOutsideClick]="true"
  [maxWidth]="600"
  [maxHeight]="400"
  [showTitle]="true"
  [dragEnabled]="false"
  [(visible)]="visibleModalInfo"
  title="Descripción del Template"
>
  <span>{{ templateInfo }}</span>
</dx-popup>
